---
    import Layout from "../components/layout.astro"
---

<Layout titulo="Acerca de mi" descripcion="Esta seccion habla acerca de mi">
    <h1>Acerca de mi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, praesentium odio ratione itaque ut libero reprehenderit consequuntur voluptatem, soluta illo iste ad possimus officiis, debitis neque! Maxime maiores laborum nesciunt deserunt est expedita tempora nostrum sapiente, repellendus dolor, fugit, itaque vitae sequi! Vero, aliquid!</p>    
</Layout>