---
	console.log("Hola desde el servidor de nuevo");
	const title  = "Proyecto en Astro";
---
<h1>{title}</h1>

<style>
	h1{
		background-color: aqua;
	}
</style>

<script>
	console.log("Hola Mundo");
</script>