--- 
    import Layout from "../components/layout.astro";
    import Card from "../components/card.astro";

    const respuesta = await fetch("https://jsonplaceholder.typicode.com/posts");
    const respuestaJson = await respuesta.json();
---


<Layout titulo="Posts" descripcion="Esta seccion muestra los posts">
    <h1>Posts</h1>
    
    <!-- <div>
        {respuestaJson.map(x=>(
            <h3>{x.title}</h3>
            <p>{x.body}</p>
            <br/> <br/>
        ))}
    </div> -->
    {respuestaJson.map(x=>{
        return <Card titulo={x.title} descripcion={x.body}/>
    })}

</Layout>