---
// Para usar un componentes, es decir, una porcion reutilizables , debemos importarla de la carpeta components
import Card from "../components/card.astro";
---

<h2>Servicios</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, labore sit. Excepturi quo repellat tempore cupiditate rem, ratione perspiciatis laborum. Alias nam illum reprehenderit porro tempora saepe dolor excepturi molestias harum? Nam, fuga ullam inventore libero quod explicabo illo? Provident.</p>

<!--Reutilizo el componente y agregando atributos-->
<Card titulo="Titulo1"/>
<Card titulo="Titulo2"/>
<Card titulo="Titulo3"/>
<Card titulo="Titulo4"/>