---
    import Layout from "../../components/layout.astro";

    // Permite obtener los archivos en una ruta especifica
    const posts = await Astro.glob("./posts/*.md");

---

<Layout>
    <h1 class="bg-red-900">Mis posts</h1>
    <!-- Mostramos las rutas de cada uno de los archivos -->
    {
        posts.map(x=> <a href={x.url}>{x.frontmatter.title}</a><br/>)
    }
</Layout>